# Data Science Tools and Ecosystem

#### In this notebook Data Science Tools and Ecosystem are summerized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries
- Create table
- Basic arithmetic

##### Some of the popular languages that Data Scientists use are
1. Python
2. R
3. C
4. C++
5. Javascript
6. Java

##### Some of the commonly used libraries used by Data Scientist include:
1. ggplot
2. Gally
3. ggplot2
4. caffe
5. caret

|Data Science tools|
|----------------|
|Jupyter Notebook|
|RStudio|
|Github|

# Below are a few examples of evaluating arithmetic expressions in Python

##### This a simple arithmetic expression to mutiply then add integers

In [13]:
(3*4)+5

17

##### This will convert 200 minutes to hours by diving by 60

In [38]:
x=200/60
print(x)

3.3333333333333335

## author
Abbas Rahman